.change-blue {
    color: blue;
}

.hulkify {
    font-size: 6em;
}

.borderNow {
    border: 3px groove magenta;
}

.rounder {
    border-radius: 15%;
}

.boldNow {
    font-weight: bolder;
}

.boldItalic {
    font-weight: bolder;
    font-style: italic;
}

button {
    display: block;
    margin: 2px;
}